@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
body{
    font-family: 'Roboto Serif', serif;
    background-image: url("https://wallpaperaccess.com/full/949471.jpg");
}
label{
    font-size: .9rem;
}

input.form-control,input.form-control:focus{
    background-color: #f0f0ff;

}
.error{
    position: absolute;
    color: red;
    font-size: .7rem;
}
.form{
    margin-left: 25em;
}
.custom-form{
    width:30em;
}
.Text{
text-align: center;
}